<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKcEpbCeeTuhv_DEolaHeMRvgD_BU5Te0</string>
	<key>GCM_SENDER_ID</key>
	<string>759537182148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stylingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>capstone-6653b</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-6653b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759537182148:ios:3990cf920a2456ca32b091</string>
</dict>
</plist>